* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.profile-btn-details-container-p {
    display: flex;
    margin: 25px;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    min-height: 100vh;
}

.sub-text-profile-p {}

.outer-profile-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: space-between;
    max-height: 350px;
    align-items: center;
}

.text-container-p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
}

.outer-account-info-container {
    display: flex;
    /* margin-top: 50px; */
}

.input-wrapper {
    display: flex;
}

ul.profile-label-p li {
    text-decoration: none;
    list-style-type: none;
}

button.account-btn {
    margin-top: 25px;
}

.account {
    margin-top: 25px;
    position: absolute;
    margin-left: 125px;
}

.chef-reviews-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    color: #2d333f;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 1rem;
    margin: 0 0;
}

.none-2 {
    display: none;
}

.res-btn-form-p {
    display: flex;
    margin-left: 16px;
    width: 100vw;
}

.reservation-component-p {
    margin-left: 150px;
    position: absolute;
}

.image-profile-p {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.profile-label-p {
    font-weight: bold;
    list-style-type: none;
}

.outer-profile-div-p {
    width: 70vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

.outer-user-info-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    height: 80px;
    justify-content: space-between;
}

.profile-single-container {
    display: flex;
    padding: 0 0 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
    position: relative;
}

.input-label-field-container-p {
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    margin-right: 90px;
    /* height: 80px; */
}

.must-be-robs-container-p {
    min-width: 200px;
}

.label-field-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chef-profile-image-p {
    max-width: 200px;
}

.user-fields-p {
    display: flex;
    flex-direction: column;
}

.main-text-profile-p {
    color: #247f9e;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
}

.profile-nav-btn-p {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 16px;
    display: inline-block;
    color: white;
    background: #0a6fac;
    width: 140px;
    height: 50px;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 13px;
}

.calender-form-p {
    width: 149px;
    height: 16px;
    font-size: large;
    border: none;
}

.btn-style-p {
    background: #da3743;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border: 0;
    width: 180px;
    min-height: 32px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
}

.CRUD-reservation-btn-p {
    display: flex;
    flex-direction: column;
}