* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.chef-reviews-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  color: #2d333f;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 1rem;
  margin: 0 0;
}

.none {
  display: none;
}

.image-profile-p {
  width: 100px;
  height: 100px;
}

.profile-label-p {
  font-weight: bold;
}

.outer-profile-div-p {
  /* display: flex; */
  text-align: right;
}

.outer-user-info-p {
  display: flex;
  align-items: center;
}

.profile-single-container {
  display: flex;
}

.label-field-container {
  display: flex;
  /* flex-direction: column; */
}

.chef-profile-image-p {
}

.user-fields-p {
  display: flex;
  flex-direction: column;
}
