.chef-container {
    display: flex;
    /* max-width: 20rem; */
    width: 5px;
    flex-direction: column;
    padding: 1.5rem;
    margin: .1rem auto;
    /* border-width: 10px; */
    min-width: 50rem;
    min-height: 15rem;
    max-height: 30rem;
    border-bottom: 1px solid #333536;
    background-color: rgb(255, 254, 254);
}

.pic-size {
    height: 250px;
    width: 300px;
    border-radius: 4px;
}

.chef-container-none {
    display: none;
}

.chef-container:hover {
    /* box-shadow: 3px 3px 7px 2px rgb(31, 30, 30); */
}

.btn-style {
    background: #da3743;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    border: 0;
    width: 300px;
    min-height: 40px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    position: relative;
    bottom: 40px
}

.btn-style-find {
    background: #da3743;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    border: 0;
    width: 150px;
    height: 60px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 190px;
    position: absolute;
    top: 200px;
    left: 670px
}

.nav-search-bar {
    /* margin-top: 40px; */
    background-image: url("../kitchen2.jpg");
    display: flex;
    /* position: relative; */
    /* padding: 5px 0px 5px 0px; */
    justify-content: space-evenly;
    /* justify-content: space-between; */
    height: 430px;
}

.chef-city {
    color: #247f9e;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
    position: relative;
    left: 400px;
    top: 120px;
}

.chef-name {
    color: #217996;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
    position: relative;
    left: 400px;
    top: 100px;
}

.chef-name:hover {
    cursor: pointer;
    color: #1a3f4b;
}

.chef-price {
    color: #0e0f0f;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
    position: relative;
    left: 400px;
    bottom: 80px;
}

.chef-bio {
    color: #0e0f0f;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
    position: relative;
    left: 398px;
    bottom: 80px;
}

.chef-food_type {
    color: #0e0f0f;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    word-break: break-word;
    position: relative;
    left: 398px;
    bottom: 80px;
}


/* 
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f5f7f8;
    border-radius: 4px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
} */