.nav-bar {
  background: #f1f2f4;
  display: flex;
  position: relative;
  /* padding: 5px 0px 5px 0px; */
  justify-content: space-around;
  height:50px
}

.nav-bar a:hover {
  color: #b8222d;
}

.nav-bar a {
  font-family: "Raleway", sans-serif;
  color: #da3743;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav-stuff li {
  display: inline;
  padding: 30px;
}

.home-nav,
.login-nav,
.signup-nav{
  position: relative;
  top: 15px
}

.home-nav{
  position: relative;
  right:600px;
  top: 0px
}

.login-nav,
.signup-nav{
  position:relative;
  left: 600px
}

.logout-nav{
  position:relative;
  left:600px;
}
.profile-nav{
  position:relative;
  right:600px
}

/* .nav-bar a.active {
  color: rgb(255, 0, 0);
  cursor: default;
} */