.nav-bar {
  background: #f1f2f4;
  display: flex;
  position: relative;
  /* padding: 5px 0px 5px 0px; */
  justify-content: space-between;
}

.nav-bar a:hover {
  color: #b8222d;
}

.nav-bar a {
  font-family: "Raleway", sans-serif;
  color: #da3743;
  font-size: 16px;
}

li {
  display: inline;
  padding: 30px;
}

/* .navbar-profile {
  display: flex;
  margin-left: 820px;
} */
