.search-bar {
    /* border-radius: 4px solid #fafafa; */
    border-bottom: 4px solid #fafafa;
    width: 400px;
    height: 50px;
    font-size: 20px;
    margin-top: 198px;
    position: relative;
    right: 350px;
    top: 5px;
    border: none;
    border-radius: 6px;
}

.search-icon {
    background: url(../icon-search.jpg) no-repeat left 10px center;
    background-size: 30px;
    background-color: white;
}

.border-calender {
    width: 440px;
    height: 50px;
    margin-top: 200px;
    font-size: 20px;
    background-color: white;
    /* border-radius: 4px; */
    border-bottom: 4px solid #fafafa;
    position: absolute;
    left: 800px;
    border-radius: 6px;
}

.calender-form {
    padding-top: 10px;
    width: 190px;
    height: 36px;
    font-size: large;
    border: none;
}

.time-form {
    padding-top: 10px;
    width: 150px;
    height: 50px;
    font-size: large;
    border: none;
}

.duration-form {
    padding-top: 10px;
    width: 90px;
    height: 53px;
    font-size: large;
    border: none;
}

.search-toggle {
    border: 4px solid #fafafa;
    height: 50px;
    /* color: #da3743 */
    background-color: #ffffff;
    position: absolute;
    top: 378px;
    left: 350px;
    border-radius: 6px;
    width: 397px;
}

.search-toggle-content {
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(7, 7, 7);
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ;
    font-size: large;
    font-weight: 500;
}

.search-toggle-none {
    display: none;
}

.chef-welcome {
    font-size: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 400px;
    top: 230px;
}

.search-toggle2-none {
    display: none;
}

.search-toggle2 {
    border: 4px solid #fafafa;
    height: 50px;
    /* color: #da3743 */
    background-color: #ffffff;
    position: absolute;
    top: 436px;
    /* left: 320px; */
    /* width: 398px; */
    left: 350px;
    border-radius: 6px;
    width: 397px;
}

.search-toggle2:hover {
    background-color: #da3743;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.search-toggle:hover {
    background-color: #da3743;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}


/* .search-img { */


/* display: grid; */


/* position: absolute; */


/* top: 320px; */


/* left: 210px; */


/* background-color: white; */


/* width: 52px; */


/* border: none; */


/* border-radius: 6px; */


/* border-left: 7px solid white; */


/* } */


/* .chef-container-btn {
        display: flex;
        position: absolute;
        top: 1000px;
    } */

.classRender {
    /* border: 4px solid #fafafa; */
    /* color: #da3743 */
    background-color: #ffffff;
    width: 404px;
    position: relative;
    bottom: 14px;
    left: -350px;
    color: rgb(118, 118, 118);
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 700;
    /* border-top: 0.1px solid; */
}

.search-ind {
    border: 4px solid #fafafa;
}

.search-ind:hover {
    background-color: #da3743;
    /* transition: background 0.05s ease-in-out; */
    transition: all 0.4s ease-out;
    cursor: pointer;
    color: white;
    /* border-radius: 2px; */
    border: 4px solid #da3743;
}

.search-ind-none {
    display: none;
}


/* border: 4px solid #fafafa;
height: 50px;
background-color: #ffffff;
position: absolute;
top: 378px;
left: 350px;
border-radius: 6px;
width: 397px; */