.profile-input {
  width: 100%;
  max-width: 350px;
  padding: 9px 13px;
  font-size: 16px;
  min-height: 42px;
  border: 1px solid #e6e2df;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-label {
  font-size: larger;
}

.btn-style-profile {
  background: #da3743;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: 0;
  width: 300px;
  min-height: 40px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  bottom: 40px;
}
